{{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.title) }}
            {{ form_row(form.categories) }}
        </div>

        <div class="col">
            {{ form_row(form.imageFilename, {
                attr: {'placeholder': 'Select an image for this post'}
            }) }}

            {% if form.vars.data.imageFilename|default %}
                <a href="{{ form.vars.data.imagePath }}" target="_blank">
                    <img src="{{ form.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100" />
                </a>
            {% endif %}
        </div>
    </div>

    {{ form_row(form.content) }}
    {{ form_row(form.online) }}

    <button class="btn btn-success btn-user btn-block">
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}