{% extends 'admin/base.html.twig' %}

{% block title %}Edit the post{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit post "{{ post.title }}"</h1>
        {{ include('admin/post/_delete_form.html.twig') }}
    </div>

    <hr>

    {{ include('admin/post/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="col-sm-11">
        <h3>References</h3>

        <ul class="list-group small js-reference-list"
            data-url="{{ path('admin_post_list_references', {id: post.id}) }}">
        </ul>

        <hr>

        <form action="{{ path('admin_post_add_reference', {id: post.id}) }}"
              method="post"
              enctype="multipart/form-data"
              class="dropzone js-reference-dropzone"
        >
        </form>
    </div>

    <a href="{{ path('admin_post_index') }}">back to list</a>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.3/Sortable.min.js" integrity="sha256-uNITVqEk9HNQeW6mAAm2PJwFX2gN45l8a4yocqsFI6I=" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('myDropzone') }}
{% endblock javascripts %}