{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-datatables') }}
{% endblock %}

{% block title %}Post index{% endblock %}

{% block body %}

    {#    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">#}
    {#        <h1 class="mt-4">Users index</h1>#}
    {#        <a href="{{ path('admin_user_new') }}" class="btn btn-success">Create a new</a>#}
    {#    </div>#}

    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered" id="dataTable">
                <thead class="justify-between">
                    <tr class="dark-blue-bg">
                        <th><span>ID</span></th>
                        <th><span>Title</span></th>
                        <th><span>Content</span></th>
                        <th><span>CreateDate</span></th>
                        <th><span>UpdateDate</span></th>
                        <th><span>Online</span></th>
                        <th><span>ACTIONS</span></th>
                    </tr>
                </thead>
                <tfoot class=justify-between">
                    <tr class="dark-blue-bg">
                        <th><span>ID</span></th>
                        <th><span>Title</span></th>
                        <th><span>Content</span></th>
                        <th><span>CreateDate</span></th>
                        <th><span>UpdateDate</span></th>
                        <th><span>Online</span></th>
                        <th><span>ACTIONS</span></th>
                    </tr>
                </tfoot>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#viewContentModal">View content</a>
                                <div class="modal fade" id="viewContentModal" tabindex="-1" aria-labelledby="viewContentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewContentModalLabel">View content</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ post.content|html_entity_decode|html_entity_decode|raw }}
                                        </div>
                                        {# <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div> #}
                                        </div>
                                    </div>
                                </div>                            
                            </td>
                            <td>{{ post.createDate ? post.createDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ post.updateDate ? post.updateDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ post.online ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('admin_post_show', {'id': post.id}) }}" class="btn btn-primary">
                                    show
                                </a>
                                <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-success">
                                    edit
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-datatables') }}
{% endblock %}

