<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome ADMIN!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>

<body>
    <div class="d-flex" id="wrapper">

        {# Sidebar #}
        {{ include('admin/includes/sidebar.html.twig') }}

        <div id="page-content-wrapper">

            {# Topbar #}
            {{ include('admin/includes/topbar.html.twig') }}

            <div class="container-fluid" id="main-content">

                <div class="d-grid gap-3 pb-3" style="grid-template-columns: 2fr 1fr;">

                    {# Breadcrumb #}
                    {{ include('admin/includes/breadcrumb.html.twig') }}

                    {# Page tools #}
                    {# @TODO -> create an automatic genereation of the tools
                        depending of the page displayed
                        {{ include('admin/includes/page_tools.html.twig') }}
                    #}
                    <div class="bg-light border rounded-3">
                        <br>
                    </div>

                </div>



                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>