{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.subTitle) }}
    {{ form_row(form.content) }}
    
    <div class="custom-control custom-switch">
        {{ form_row(form.online) }}
    </div>

{# <div class="custom-control custom-switch">
   <input type="checkbox" class="custom-control-input" id="customSwitch1">
   <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
 </div> #}
    

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
